@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

footer.footer-container {
  background-color: #0056d2;
  color: #fff;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

footer.footer-container .footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-weight: 700;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer.footer-container {
  margin-top: auto;
}